<div class="settings-page">
    <div class="card-header">
      Параметры приложения
    </div>
    <div class="card-block">
      <div class="card-text">
        <form>
          <div class="settings-block language-block">
            <label>Язык с которого переводить</label>
            <mat-select [(value)]="config.languageFrom" style="width: 300px;">
              <mat-option value="ru">Русский</mat-option>
              <mat-option value="eng">Английский</mat-option>
            </mat-select>
          </div>
          <div class="settings-block language-block">
            <label>Язык на который переводить</label>
            <mat-select [(value)]="config.languageTo" style="width: 300px;">
              <mat-option value="ru">Русский</mat-option>
              <mat-option value="eng">Английский</mat-option>
            </mat-select>
          </div>
          <div class="settings-block">
            <label>Количество слов, изучаемых на одной тренировке:</label>
            <input matInput type="number" min="1" max="10" [(ngModel)]="config.trainingLessonWordsQuantity"
              name="trainingLessonWordsQuantity" />
          </div>
          <div class="settings-block">
            <label>Время, отведенное на упражнение: </label>
            <input matInput type="number" min="1" max="30" [(ngModel)]="config.timeToTrain" name="timeToTrain">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button mat-button class="btn btn-sm btn-primary" (click)="saveChanges()">
          Сохранить
        </button>
        <button mat-button class="btn btn-sm btn-link" (click)="discardChanges()">
          Отмена
        </button>
      </div>
    </div>
</div>